<div>
  <h2 class="title">Editar <%= Dietary.model_name.human %></h2>
  <div class="card card card-default scrollspy">
    <div class="card-content">
      <%= render 'form', dietary: @dietary %>
    </div>
  </div>
</div>
